<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="dk.sens.android.rygestop">

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_v2"
            android:label="Ryge?"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".NavigationView"></activity>


        <activity android:name=".TextAssignment" />
        <activity android:name=".TextWebview" />
        <activity android:name=".Overblik" />
        <activity android:name=".Indstillinger" />
        <activity android:name=".textList" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true" />

    </application>

</manifest>